{% extends "PingouinBundle::base.html.twig" %}
{% block content %}

    <div><h1 class="text-center">La liste des pingouins</h1></div>
    {% for pingouin in pingouins %}
        <div class="container">
            <div class="row">
                <!-- Card Projects -->
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="img-pingouin">
                            <img class="media-object img-rounded img-responsive" src="{{ asset(pingouin.picture) }}">
                        </div>

                        <div class="card-content">
                            <p>Voici le pingouin {{ pingouin.name }} de l'espèce {{ pingouin.specie }} </p>
                        </div>

                        <div class="card-action">
                            <a href="{{ asset(path('pingouin_detail', {id : pingouin.id})) }}" target="new_blank">En
                                savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <center>
            <li class="list-group-item">Aucun pingouin dans notre base de données</li>
        </center>

        <div class="card card-warning mb-3 text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Aucun pingouin dans notre base de données</p>
                <footer>Merci de votre<cite title="Source Title">compréhension</cite></footer>
            </blockquote>
        </div>

    {% endfor %}
{% endblock %}