    <div class="banner">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>

                  
                        <div class="banner-info">
                            <h1> Découvre les pingouins</h1>
                            <p>Faites un tour sur notre site <strong>PingouinBase</strong>, vous découvrirez des merveilles sur les pingouins et les mystères qui les entourent</p>
                        </div> 


                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <div class="donate">
            <a href="{{ path('pingouin_list') }}">Liste des pingouins</a>
        </div>
    </div>
</div>