<div class="header">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="{{ path('homepage') }}">Pingouin <span>Base</span></a>
                        <div class="leaf">
                            <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('homepage') }}"><span
                                        class="glyphicon glyphicon-home"></span> Accueil</a></li>
                        <li class=""><a href="{{ path('pingouin_list') }}"><span
                                        class="glyphicon glyphicon-th-list"></span> Liste des pingouins</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                                                     role="button" aria-haspopup="true"
                                                     aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('pingouin_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion des Pingouins</a></li>
                                        <li><a href="{{ path('review_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion des Commentaires</a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil"></span> Modifier vos informations</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-pencil"></span> Changer votre mot de passe</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Se déconnecter</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class=""><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>

                            <li class=""><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>