{% extends 'PingouinBundle::base.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <div class="container">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded img-responsive" src="{{ asset(pingouin.picture) }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ pingouin.name }} de l'espece <strong>{{ pingouin.specie }}</strong>
                    </h4>
                    <h3>Description :</h3>
                    <p>{{ pingouin.summary }}</p>
                </div>
            </div>
        </div>
    </div>
    <canvas id="chart" width="50" height="50"></canvas>
    {% for review in pingouin.reviews %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {

                var ctx = document.getElementById("chart");
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["{{ review.user }}"],
                        datasets: [{
                            label: '# of Votes',
                            data: [{{ review.rating }}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });
        </script>
    {% endfor %}

    <div class="comments-container ">
        <h1> Liste des commentaires</h1>
        {% for review in pingouin.reviews %}
        <ul id="comments-list" class="comments-list">
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img
                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">{{ review.user }} a noté
                            <strong>{{ review.rating }}/10</strong> le pingouin {{ pingouin.name }}</h6>
                        <span> </span>
                    </div>
                    <div class="comment-content">
                        {% if review.comment %}
                            <div class="comment-content">
                                {{ review.comment }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    <hr>

    {% if form_review %}
    {{ form_start(form_review) }}
    <div class="container center-block">
        <div class="row">
            <div class="col-sm-12">
                <h3>Ajouter un commentaire</h3>
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Note :</strong> <span
                                class="text-muted">{{ form_widget(form_review.rating, {'attr':{'class':'input-block-level'}}) }}</span>
                        {{ form_widget(form_review.save) }}
                    </div>
                    <div class="panel-body">
                       <strong>Votre commentaire:</strong><br>
                        {{ form_widget(form_review.comment, {'attr':{'class':'input-block-level'}}) }}
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /container -->
        {{ form_end(form_review) }}
        {% endif %}
{% endblock %}