{% extends 'PingouinBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                        <h2>Modifier votre mot de passe</h2>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Nouveau Mot de passe', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Confirmation du mot de passe', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.current_password, {'attr':{'placeholder':'Votre mot de passe', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
                        </div>
                    </form>
                </div>
                {{ form_rest(form) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-lg btn-success btn-block" id="_submit" name="_submit">Modifier votre mot de passe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
