{% extends 'PingouinBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block content %}
    <div row>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success" role="alert">
                <p>
                    <strong>{{ 'registration.confirmed'| trans({'%username%': user.username}) }}</strong>
                    Vous pouvez maintenant accéder à votre profile  .
                </p>
            </div>
            {#{% if targetUrl %}#}
            <div class="col-md-2 col-md-offset-5">
                <p><a class="btn btn-primary btn-lg" role="button" href="{{ path('fos_user_profile_show') }}">Votre profile{# {{ 'registration.back'|trans }} #}</a></p>
            </div>
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}
