{% extends 'PingouinBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                        <h2>S'inscrire
                            <small>Pour partager sa connaissance des pingouins</small>
                        </h2>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">

                                    {{ form_widget(form.username, {'attr':{'placeholder':'Nom d\'utilisateur', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}

                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_widget(form.email, {'attr':{'placeholder':'Email', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Mot de passe', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">

    {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Confirmation du mot de passe', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}

                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <button type="submit" value="{{ 'registration.submit'|trans }}"
                                        class="btn btn-lg btn-success btn-block" id="_submit" name="_submit">
                                    S'enregistrer
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="{{ path('fos_user_registration_register') }}"
                                   class="btn btn-lg btn-primary btn-block">Devenir membre</a>
                            </div>
                            <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link pull-right">Mot de
                                passe oublier ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}


