{% extends 'PingouinBundle::base.html.twig' %}

{% block content %}
    {{ form_start(edit_form) }}
    <h1>Bienvenue dans l'édition des commentaires</h1><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Commentaire</th>
            <th>notes</th>
            <th>Modifier</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ form_widget(edit_form.comment, {'attr':{'placeholder':'Comment'}}) }}</td>
            <td>{{ form_widget(edit_form.rating, {'attr':{'placeholder':'Note'}}) }}</td>
            <td>{{ form_widget(edit_form.save, {'attr':{'class':'input-group date'}})}}</td>
        </tr>
        </tbody>
        {{ form_end(edit_form) }}
    </table>
{% endblock %}