{% extends 'PingouinBundle::base.html.twig' %}

{% block content %}

    <div class="w3-container">
        <div class="w3-container">
            <h2>Bienvenue dans la gestion des commentaires</h2>
        </div>
        {% for review in reviews %}
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Votes</th>
                        <th>Commentaire</th>
                        <th>Editer</th>
                        <th>Fiche</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tr class="w3-hover-green">
                        <td class="tableRP">{{ review.id }}</td>
                        <td class="tableRP">{{ review.rating }}</td>
                        <td class="tableRP">{{ review.comment }}</td>
                        <td><a href="{{ path('review_edit', { 'id': review.id }) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{{ path('review_show', { 'id': review.id }) }}"><span
                                        class="glyphicon glyphicon-info-sign"></span></a></td>
                        <td><a href="{{ asset(path('pingouin_delete', {id : review.id})) }}"><span
                                        class="glyphicon glyphicon-minus"></span></a></td>
                    </tr>
                </table>
            </div>

        {% else %}
            <div>
                <center>
                    <p>Aucun commentaire n'est enregistrer</p>
                </center>
            </div>
        {% endfor %}
    </div>
{% endblock %}
