{% extends 'PingouinBundle::base.html.twig' %}

{% block content %}
    <h1>Bienvenue dans la fiche du commentaire</h1><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Votes</th>
            <th>Commentaire</th>
            <th>Edit</th>
            <th>Supprimer</th>
            <th>Revenir sur l'index</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tableRP">{{ review.id }}</td>
            <td class="tableRP">{{ review.rating }}</td>
            <td class="tableRP">{{ review.comment }}</td>
            <td><a href="{{ path('review_edit', { 'id': review.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="{{ asset(path('pingouin_delete', {id : review.id})) }}"><span class="glyphicon glyphicon-minus"></span></a></td>
            <td><a href="{{ path('review_index') }}"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
        </tr>
        </tbody>

    </table>
{% endblock %}
