{% extends "FrontBundle::base.html.twig" %}

{% block childtitle %}L'accueil{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <div class="banner-bottom">
        <div class="container">
            <h3>Rejoins le club</h3>
            <div class="welcome">
                <img src="{{ asset('assets/images/1.jpg') }}" alt=" " class="img-responsive" />
                <h4> Sur ce site, vous pourrez evaluer et donner votre avis sur vos pingouins preferés,
                et partager la même passion que nous pour ces jolies créatures!</h4>
                <p>Le site Pingouin Base respecte le réglement et la convention de l'association WWF,
                aucun pingouin n'a été maltraité durant la réalisation de ce site.</p>
                <div class="more">
                    <a href="{{ path('fos_user_registration_register') }}" class="hvr-bounce-to-bottom">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
/
    <div class="events">
        <div class="container">
            <h3>Information</h3>
            <p class="para">En Apprendre plus sur nos amis les pingouins</p>
            <div class="events-grids">
                <div class="col-md-4 events-grid">
                    <div class="col-xs-3 events-grid-left">
                        <span> </span>
                    </div>
                    <div class="col-xs-9 events-grid-right">
                        <h4>Description physique</h4>
                        <p>Le pingouin est un oiseau marin de la famille des alcidés, qui se confond
                        souvent avec le manchot. Mais à la différence de ce dernier, le pingouin peut réellement voler.
                        Cependant, le petit pingouin est la seule espèce encore vivante. 
                        Il existait une autre espèce de pingouin qui s’est éteinte en 1844 : le grand pingouin.
                        L’animal possède un ventre de couleur blanche et un bec tout noir. On le reconnaît aussi par son dos trapu. 
                        Le pingouin possède des pattes palmées noires. Il mesure environ 40 cm et ne pèse entre 500 et 750 grammes. 
                        Ce petit oiseau a une démarche assez maladroite.
                        En outre, le pingouin dispose d'ailes qui lui permettent de nager et voler. Sa tête et son dos sont de couleur noire, 
                        tout comme sa queue, pointue et assez petite.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 events-grid">
                    <div class="col-xs-3 events-grid-left1">
                        <span> </span>
                    </div>
                    <div class="col-xs-9 events-grid-right">
                        <h4>Son lieu de vie</h4>
                        <p>Le pingouin se rencontre dans l'hémisphère nord,
                         du pôle nord à la Bretagne, mais surtout le long de la zone arctique.
                         Aimant se baigner dans l'océan Atlantique, le pingouin se retrouve le long
                         des côtes de l'Amérique du Nord, mais aussi en Islande et en Europe, de la 
                         Russie jusqu'au Nord de la France.</p>
                    
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 events-grid">
                    <div class="col-xs-3 events-grid-left2">
                        <span> </span>
                    </div>
                    <div class="col-xs-9 events-grid-right">
                        <h4>Son alimentation</h4>
                        <p>En tant qu’oiseau marin, il peut accéder à une certaine variété de nourriture.
                         Le pingouin mange principalement du poisson et se nourrit occasionnellement de quelques crustacés.
                         Il lui arrive de goûter à des vers marins. Avant d’aller chasser, l’animal accomplit un rite :
                         il se met au sommet d’une falaise et plonge soudainement pour attraper sa proie.</p>
              
             
                
            

{% endblock %}

