{% extends 'PingouinBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block childtitle %}Connexion{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    {% if error %}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Attention votre mot de passe ou votre nom d'utlisateur est invalide
        </div>
    {% endif %}


    <div class="container">

        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <fieldset>
                        <h2>Se connecter</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" class="form-control input-lg"
                                   placeholder="Nom d'utilisateur"
                                   value="{{ last_username }}" required="required"/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required"
                                   class="form-control input-lg"
                                   placeholder="Mot de passe"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <button type="submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-success btn-block" id="_submit" name="_submit" >Se connecter</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="{{ path('fos_user_registration_register') }}"
                                   class="btn btn-lg btn-primary btn-block">Devenir membre</a>
                            </div>
                            <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link pull-right">Mot de passe oublier ?</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
{% endblock %}