{% extends 'PingouinBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block childtitle %}Edition{% endblock %}
{% block head %}
{% endblock %}

    {% block content %}

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form">
                            <h2>Modifier vos informations</h2>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="form-group">
                                    {{ form_widget(form.username, {'attr':{'placeholder':'Nom d\'utilisateur', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr':{'placeholder':'Email', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.current_password, {'attr':{'placeholder':'Confirmation du mot de passe', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
                            </div>
                        </form>
                    </div>
                    {{ form_rest(form) }}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <button type="submit" value="{{ 'registration.submit'|trans }}"
                                    class="btn btn-lg btn-success btn-block" id="_submit" name="_submit">Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    {% endblock %}
