{% extends 'PingouinBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block childtitle %}Profile{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="container-2">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>Bienvenue
                            <small> {{ user.username }} sur la page profile</small>
                        </h2>
                        <ol class="breadcrumb">
                            <li class="active"><i class="fa fa-dashboard"></i> L'espace des pingouins</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-sm-6 text-center">
                    <div class="circle-tile">
                        <div class="circle-tile-heading dark-blue">
                            <i class="glyphicon glyphicon-th-list fa-fw fa-3x"></i>
                        </div>
                        <div class="circle-tile-content dark-blue">
                            <a href="{{ path('pingouin_list') }}" class="circle-tile-footer">Voir la liste des pingouins
                                <i
                                        class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-id-card-o "></i> L'espace Personnel</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-2 col-sm-6 text-center">
                <div class="circle-tile">
                    <div class="circle-tile-heading orange">
                        <i class="fa fa-user-circle-o fa-fw fa-3x"></i>
                    </div>
                    <div class="circle-tile-content orange">
                        <a href="{{ path('fos_user_profile_edit') }}" class="circle-tile-footer"> Modifier vos
                            informations <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6 text-center">
                <div class="circle-tile">
                    <div class="circle-tile-heading orange">
                        <i class="glyphicon glyphicon-refresh fa-fw fa-3x"></i>
                    </div>
                    <div class="circle-tile-content orange">
                        <a href="{{ path('fos_user_change_password') }}" class="circle-tile-footer">Changer votre mot de
                            passe <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6 text-center">
                <div class="circle-tile">
                    <div class="circle-tile-heading orange">
                        <i class="glyphicon glyphicon-off fa-fw fa-3x"></i>
                    </div>
                    <div class="circle-tile-content orange">
                        <a href="{{ path('fos_user_security_logout') }}" class="circle-tile-footer">Se déconnecter <i
                                    class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
     {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-cog fa-spin fa-fw"></i> L'espace Administrateur</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2 col-sm-7 text-center">
            <div class="circle-tile">
                <div class="circle-tile-heading orange">
                    <i class="glyphicon glyphicon-cog fa-fw fa-3x"></i>
                </div>
                <div class="circle-tile-content orange">
                    <a href="{{ path('pingouin_index') }}" class="circle-tile-footer">Accéder a la gestion des pingouins
                        <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6 text-center">
            <div class="circle-tile">
                <div class="circle-tile-heading orange">
                    <i class="glyphicon glyphicon-cog fa-fw fa-3x"></i>
                </div>
                <div class="circle-tile-content orange">
                    <a href="{{ path('review_index') }}" class="circle-tile-footer">Accéder a la gestion des commentaire
                        <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

{% endblock %}