{% extends "PingouinBundle::base.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <h1>Bienvenue dans l'édition des pingouins</h1><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Specie</th>
            <th>Summary</th>
            <th>Picture</th>
            <th>Save</th>
        </tr>
        </thead>
        <tbody>
        <tr>
                <td>{{ form_widget(form.name, {'attr':{'placeholder':'Name'}}) }}</td>
                <td>{{ form_widget(form.specie, {'attr':{'placeholder':'Specie'}}) }}</td>
                <td>{{ form_widget(form.summary, {'attr':{'placeholder':'summary'}}) }}</td>
                <td>{{ form_widget(form.picture, {'attr':{'placeholder':'picture'}}) }}</td>
                <td>{{ form_widget(form.save, {'attr':{'class':'input-group date'}})}}</td>
        </tr>
        </tbody>

    </table>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}