{% extends "PingouinBundle::base.html.twig" %}
{% block content %}
    <div class="w3-container">
        <h2>Bienvenue dans la gestion des pingouins</h2>
    </div>
    <div class="col col-xs-2">
        <a href="{{ asset(path('pingouin_create')) }}" type="button" class="btn  btn-success "> Ajouter un pingouin <i
                    class="fa fa-plus-square"></i></a>

    </div>
    <div class="col col-xs-2">
        <a href="{{ asset(path('pingouin_list')) }}" type="button" class="btn  btn-success "> Voir la liste <i
                    class="glyphicon glyphicon-minus"></i></a>

    </div>
    {% for pingouin in pingouins %}
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Espéces</th>
                    <th>Description</th>
                    <th>Editer</th>
                    <th>Fiche</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tr class="w3-hover-green">
                    <td class="tableRP">{{ pingouin.id }}</td>
                    <td class="tableRP">{{ pingouin.name }}</td>
                    <td class="tableRP">{{ pingouin.specie }}</td>
                    <td class="tableRP">{{ pingouin.summary }}</td>
                    <td><a href="{{ asset(path('pingouin_edit', {id : pingouin.id})) }}"><span
                                    class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a href="{{ asset(path('pingouin_detail', {id : pingouin.id})) }}"><span
                                    class="glyphicon glyphicon-info-sign"></span></a></td>
                    <td><a href="{{ asset(path('pingouin_delete', {id : pingouin.id})) }}"><span
                                    class="glyphicon glyphicon-minus"></span></a></td>
                </tr>
            </table>
        </div>
    {% else %}
        <div>
            <center>
                <p>Aucun pingouin n'est enregistrer, vous de en enregistrer </p><a
                        href="{{ asset(path('pingouin_create')) }}"><span class="glyphicon glyphicon-plus"></span></a>
            </center>
        </div>
    {% endfor %}

{% endblock %}